body, html {
  font-family: 'Lato', sans-serif;
}
.center {
  margin: auto;
  width: 50%;
}


/* Navbar */
.p-menu1 {
  display: none;
}
nav {
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 18rem;
  height: 100vh;
  box-shadow: 4px 0 5px -2px #888;
  background-color: white;
}
nav ul {
  margin: 2rem 0;
}
nav ul a {
  text-decoration: none;
  padding: 0 1rem;
  color: #000;
  display: flex;
  align-content: center;
  width: 100%;
  height: 100%;
}
nav ul li {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 3rem;
}
nav ul a:hover {
  background-color: #c00a27;
  color: white;
  font-weight: 700;
}
nav ul a:hover > img {
  animation: shake 0.2s; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
nav li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li span {
  align-self: center;
  font-size: 1.1rem;

}
.nav-logo {
  height: 3rem;
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.nav-icon {
  align-self: center;
  height: 2rem;
  padding-right: 1rem;
  opacity: 0.7;
}

.social {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
}
.social i {
  font-size: 2rem;
  color:rgba(0, 0, 0, 0.8);
}
.social i:hover {
  color: #c00a27;
}
.copyright {
  padding: 1rem;
}
.copyright p {
  font-size: 0.8rem;
  color:rgba(0, 0, 0, 0.4)
}


/* Home */
.section-main {
  padding-top: 4rem;
  padding-left: 18rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card h1 {
 font-size: 3rem;
 font-weight: 700;
 align-self: center;
 color: #c00a27;
 opacity: 0.4;
}

/**slideShow**/
.card {
  position: relative;
  width: 900px;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  display: block;
  width: 100%;
  height: 100%;
}
.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX( 900px );
  background-image: url( ./assets/mediterranean_grill_somerville.jpg );
  background-size: cover;
  animation: picTransition 21s cubic-bezier(0, 0, 0, 0.9) infinite;
}
.card_part.card_part-two {
  z-index: 6;
  background-image: url( ./assets/Kebab.jpg );
  animation-delay: 7s;
}
.card_part.card_part-three {
  z-index: 5;
  background-image: url( ./assets/Falafel-balls.jpg );
  animation-delay: 14s;
}

@keyframes picTransition {
  2% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -900px ); }
  100% { transform: translateX( -900px ); }
}

.aside {
  display: flex;
  align-content: space-around;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
}
.aside-card {
  padding: 4rem 4rem;
  width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.aside-card h3 {
  padding: 1rem;
  text-align: center;
}
.aside-card img {
  align-self: center;
  height: 5rem;
  width: auto;
  margin: 1rem;
}
.aside-card p {
  padding: 1rem;
  align-self: center;
  text-align: center;
}


/* Hero */
.section-header {
  margin-left: 18rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:45vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}
.section-sides-header {
  background-image: url(./assets/Falafel-balls.jpg);
}
.section-salads-header {
  background-image: url(./assets/Tabbouli-Noor.jpg);
}
.section-wraps-header {
  background-image: url(./assets/noor-works.jpg);
}
.section-dinners-header {
  background-image: url(./assets/noor-trio-kebab-mix.jpg);
}
.section-desserts-header {
  background-image: url(./assets/Traditional-baklava.jpg);
}
.section-beverages-header {
  background-image: url(./assets/soda-beverages.jpg);
}
.section-catering-header {
  background-image: url(./assets/Kebab.jpg);
}
.section-contact-header {
  background-image: url(./assets/mediterranean_grill_somerville.jpg);
}
.section-header h1 {
  font-size: 6rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  padding-top: 6rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}
.section {
  padding-left: 18rem;
  margin: 4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section-card {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  height: 30rem;
  width: 18rem;
  border: 1px solid #c00a27;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 1rem;
}
.section-card img {
  height: 10rem;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.section-card h3 {
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
.section-card ul {
  padding: 0 0.7rem;
  height: 12rem;
}
.section-card li {
  padding: 0.1rem;
}
.section-card .price {
  padding: 0 1rem;
  font-weight: 700;
  height: 4rem;
}


/* Footer */
.footer {
  height: 26rem;
  padding-left: 18rem;
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
}
.footer img {
  margin: 4rem;
  align-self: center;
  height: 4rem;
  width: auto;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 2rem 8rem;
}
.footer ul li {
  padding: 1rem 3rem;
  border-right: 1px solid #c00a27;
}
.footer ul li:last-child {
  border-right: none;
}


/* Catering */
.cateringMenu {
  padding-top: 1rem;
  padding-bottom: 2rem;
  max-width: 700px;
  font-family: "HelveticaNeue-Light";
}
.infoCatering {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 14px;
  padding:12px 0 12px 28px;
  list-style: none;
}

/**accordion-menu**/
.cateringMenu .panel {
  padding: 0px 18px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.cateringMenu .panel p {
  font-size: 18px;
  margin: 4px 0;
}
.panel-close {
  max-height: 0;
  transition: all 0.5s ease-out;
}
.panel-open {
  max-height: 2000px;
  transition: all 1s ease-out;
}

/***accordion-button***/
.cateringMenu button.accordion {
  background-color: #eee;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
}
.cateringMenu h3 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
  color: #8A0504;
  font-size: 26px;
}

.cateringMenu button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

.panel #price {
  font-weight: bolder;
  color: #BE6E41;
}

.panel h4 {
  padding-top: 18px;
  margin: 0.2rem 0;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
}
#rawWarning {
  padding: 1rem;
  font-size: 12px;
}

/* Contact */

.section-contact {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin: 4rem; 
}
.info-main {
  padding-left: 18rem;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}
.contact-info {
  padding: 1rem;
}
.contact-info span {
  font-weight: 700;
  font-size: 1.7rem;
  padding-right: 6px;;
  color: #c00a27;
}

.contact-info a {
  text-decoration: none;
  color:rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
}
.hours {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2rem;
  border-left: 1px solid #c00a27;
}
.hours h4 {
  font-size: 1.4rem;
  color: #c00a27;
  padding-bottom: 12px;;
}
.hours span {
  padding-right:12px;
}
.hours p {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}